.main-page-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
}
.model-view-container {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.ant-custom-model-form .ant-form-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-custom-model-form .ant-form-item-label {
   flex: 0.5;
}
.ant-custom-model-form .ant-form-item-control-wrapper {
    flex: 1;
}